@import 'mixins';


body {
    background: #9CECFB;
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .card-signin .card-body {
    padding: 2rem;
  }
  .form-signin {
    width: 100%;
  }
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  .form-label-group input {
    border-radius: 2rem;
  }
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  .form-label-group input::placeholder {
    color: transparent;
  }
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  } 

.carousel {
  margin-bottom: 15px;
}

.d-block {
    margin: 0 auto;
    height: 500px;
}

.icons{
    width: 15%;
    height: 15%;
    max-width: 30px;
    max-height: 30px;
    min-width: 10px;
    min-height: 10px;
    margin-left: 10px;
}

.toggleBtns{
    color: white !important;
    padding:5px;
    background:#343a40;
    float:left;
    border-width: 2px;
    border-color: #949494;
    border-style: solid;
    text-align: center;
}

.toggleBtn-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-width: 0px;
}


.toggleBtn-right{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left-width: 0px;
}

.toggleBtn-singular{
    border-radius: 8px;
}

.svg_shape{
    fill: white !important;   
}

.card_row{
    padding-bottom: 20px;
}

.seperate_from_top{
    margin-top: 50px;
}

.image_shading{
    height: 100%;
    background-color: #5050504d;
    text-align: center;
}

.contact_cont{
    padding:60px;
}

.active{
    background:#343a40cc !important;
}

//everything here is for the item sales form
#sale-form-wrapper{
    padding-top:50px;
    
    

    #DDrow{
        min-height:300px;
        border-width:3px;
        border-style:dashed;
        border-color:#ccc;
        border-radius:20px;
    }
    //everything contained within this is to do with the drag and drop file upload
    #dragDropUpload{
        padding:10px;
        align-self: center;
        
    }

    .activeDrag{
        background:#7d7d7d;
        border-color: #535353;

        #userPrompt{
            display: flex !important;
            h1{   
                color:white;
            }
        }

        .row:not(#userPrompt){
            display:none;
        }

        
        
    }

    .row{
        .imageIcon{
            padding-top:10%;
            background:url('../images/icons/svg/photo.svg');
            background-repeat:no-repeat;
            
            padding-left: 5px;
            padding-right: 5px;
            //fill not working for some reason
            fill:grey;
    
        }
        text-align:center;
        margin:auto;
    }
}

#legacyUploadBtn{
    @include threeToneGradient(#28a745, #26c94b, #28a745);
    box-shadow: 2px 3px 0px 1.3px #22572f;
    border-radius: 5px;
    padding:10px 20px 10px 20px;
}

#smForm{
    display:flex;
    flex-direction: row;
    width: 100%;

    input{
        margin:10px;
        flex:1;
    }
}
#lgForm{
    display: flex;
    flex-direction: column;
    width:100%;

    input{
        
        margin:10px;
    }
    p{
        margin:0px;
    }
    
    
}

.checkForm{
    flex-direction: row;
    display: flex;
    background: #f7f7f7;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;

    input{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    p{
        margin:0px;
    }
}

#dateContainer{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;

    p{
        margin-top: 0px;
        margin-bottom: 0;
        margin-right: 10px;
        margin-left: 0;
    }

    input{
        margin: 4px;
        width: 115px;
    }
}



#headText{
    height: fit-content;
    text-align: center;
    color: white;
    margin: 0 auto;
    align-self: center;

    .row{
        text-align:center;
    }
}

#header{
    height: 500px;
    background-image: url("../images/meeting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#view_type{
    align-self: center;
}

#filter{
     margin-left: 30px;
}

#search_head{
    padding:20px 10px 20px 10px;
}

#type{
    align-self: center;
}

span{
    align-self: center;
    text-align: right;
    height: fit-content;
}



@media (min-width: 992px) { 
    .contact_cont{
        padding:60px;
    }
}
@media (max-width: 992px) {
    
    .contact_cont{
        padding:20px;
    }
}

@media (max-width: 768px) { 
    
    #contact_details{
   
        order:1;
    }  
    #contact_form{
        order:2;
    }
    .contact_cont{
        padding:60px;
    }
}

@media (min-width: 768px) { 
    
#contact_details{
   
    order:2;
}   

#contact_form{
    order:1;
}
}


 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

.form-error {
  display: none;
}

#search-bar {
  padding-left: 8px;

  input {
    width: 350px;
  }
}

@media (max-width: 991px) {
  #search-bar {
    padding-left: 0;
  }
}

.item-card {
  padding-bottom: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: #343a40;
}

.user-panel {
  padding: 15px;

  label, a, h5, h6, p {
    color: whitesmoke !important;
  }
}


/* About US Page*/



.separator-type, .title-type, .intro-type, .content-type .intro-type p {
  position: relative;
}
.intro-type .container {
  padding: 107px 0px 102px 0px !important;
}
#product-header-section, .intro-type .container {
  padding: 68px 15px 72px !important;
}
@media (min-width: 1630px){}
.container {
  width: 1630px;
}
.parallax {
  background-attachment: inherit !important;
}
.parallax {
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}
.company-heading h1 {
  margin-bottom: 10px;
  line-height: 20px;
  color: #fff;
  font-weight: 700 !important;
  text-align: center;
}
.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 65px;
  margin-bottom: 20px;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
  font-weight: 800;
  font-size: 50px;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
  font-family: 'proxima-nova', sans-serif;
}
.company-sections h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 14px 0;
  font-family: 'proxima-nova', sans-serif;
  text-transform: capitalize;
}
.red-border {
  width: 50%;
  border-bottom: 1px solid #d2282e;
  margin: 0 auto;
  height: 16px;
}
.company-sections p {
  margin-top: 20px;
}
.ct-u-size22 {
  font-size: 22px;
}
.ct-u-fontWeight300 {
  font-weight: 300;
}
.marginTop40 {
  margin-top: 40px !important;
}
.ct-u-paddingBoth100 {
  padding: 100px 15px;
}
.culture-section {
  background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(https://www.solodev.com/assets/culture.jpg) top no-repeat;
  /* background-color: #095c87; */
  /* color: #fff; */
  text-align: center;
}
.company-sections, .careers-sections, .left-headquarter-section-img, .right-headquarter-section-img {
  text-align: center;
}
.ct-u-paddingBoth100 {
  padding: 100px 15px;
  text-align: center;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
  font-family: 'proxima-nova', sans-serif;
  text-align: center;
}
.slick-slider {
  margin-bottom: 0;
}
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slider .item {
  overflow: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.logos {
  margin-right: -5px;
  margin-left: -5px;
}
ul.logos li {
  cursor: pointer;
}
.logos > li {
  float: left;
  width: 16.66666%;
  padding: 5px;
}
.logos .logos-inner {
  position: relative;
}
.slick-slide img {
  display: inline-block;
}
.logo-image {
  position: relative;
  width: 100%;
}
ul.logos li {
  cursor: pointer;
}
.logos > li {
  float: left;
  width: 16.66666%;
  padding: 5px;
}
.logos .logos-inner {
  position: relative;
}
.slick-slide img {
  display: inline-block;
}
img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
.fa {
  font-size: 42px;
}
.btn-solodev-red-reversed {
  background-color: #fff;
  color: #d2282e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 12px 35px;
}
.btn, .btn-blk {
  font-size: 18px !Important;
}
a:hover, a:focus {
  text-decoration: none;
}
.ct-u-size19 {
  margin-top: 40px;
}
a:hover {
  color: #000;
}
section.clients-home .clients-logos .client-logos-repeater {
  height: 260px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

section.clients-home .clients-logos .client-logos-repeater img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.logo-title {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #0079c2;
}
.ct-u-paddingBottom100 {
  margin-top: 40px;
}
.culture-section {
  background-size: cover;
  color: #fff;
}
