body {
  background: #9CECFB;
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.carousel {
  margin-bottom: 15px;
}

.d-block {
  margin: 0 auto;
  height: 500px;
}

.icons {
  width: 15%;
  height: 15%;
  max-width: 30px;
  max-height: 30px;
  min-width: 10px;
  min-height: 10px;
  margin-left: 10px;
}

.toggleBtns {
  color: white !important;
  padding: 5px;
  background: #343a40;
  float: left;
  border-width: 2px;
  border-color: #949494;
  border-style: solid;
  text-align: center;
}

.toggleBtn-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-width: 0px;
}

.toggleBtn-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left-width: 0px;
}

.toggleBtn-singular {
  border-radius: 8px;
}

.svg_shape {
  fill: white !important;
}

.card_row {
  padding-bottom: 20px;
}

.seperate_from_top {
  margin-top: 50px;
}

.image_shading {
  height: 100%;
  background-color: #5050504d;
  text-align: center;
}

.contact_cont {
  padding: 60px;
}

.active {
  background: #343a40cc !important;
}

#sale-form-wrapper {
  padding-top: 50px;
}
#sale-form-wrapper #DDrow {
  min-height: 300px;
  border-width: 3px;
  border-style: dashed;
  border-color: #ccc;
  border-radius: 20px;
}
#sale-form-wrapper #dragDropUpload {
  padding: 10px;
  align-self: center;
}
#sale-form-wrapper .activeDrag {
  background: #7d7d7d;
  border-color: #535353;
}
#sale-form-wrapper .activeDrag #userPrompt {
  display: flex !important;
}
#sale-form-wrapper .activeDrag #userPrompt h1 {
  color: white;
}
#sale-form-wrapper .activeDrag .row:not(#userPrompt) {
  display: none;
}
#sale-form-wrapper .row {
  text-align: center;
  margin: auto;
}
#sale-form-wrapper .row .imageIcon {
  padding-top: 10%;
  background: url("../images/icons/svg/photo.svg");
  background-repeat: no-repeat;
  padding-left: 5px;
  padding-right: 5px;
  fill: grey;
}

#legacyUploadBtn {
  background-image: linear-gradient(#28a745, #26c94b, #28a745);
  background-image: -webkit-linear-gradient(#28a745, #26c94b, #28a745);
  background-image: -moz-linear-gradient(#28a745, #26c94b, #28a745);
  background-image: -ms-linear-gradient(#28a745, #26c94b, #28a745);
  background-image: -o-linear-gradient(#28a745, #26c94b, #28a745);
  box-shadow: 2px 3px 0px 1.3px #22572f;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

#smForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#smForm input {
  margin: 10px;
  flex: 1;
}

#lgForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#lgForm #checkForm {
  flex-direction: row;
  display: flex;
  background: #f7f7f7;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 15px;
  border-radius: 10px;
  margin: 15px;
  align-items: center;
}
#lgForm input {
  margin: 10px;
}
#lgForm p {
  margin: 0px;
}

#headText {
  height: fit-content;
  text-align: center;
  color: white;
  margin: 0 auto;
  align-self: center;
}
#headText .row {
  text-align: center;
}

#header {
  height: 500px;
  background-image: url("../images/meeting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#view_type {
  align-self: center;
}

#filter {
  margin-left: 30px;
}

#search_head {
  padding: 20px 10px 20px 10px;
}

#type {
  align-self: center;
}

span {
  align-self: center;
  text-align: right;
  height: fit-content;
}

@media (min-width: 992px) {
  .contact_cont {
    padding: 60px;
  }
}
@media (max-width: 992px) {
  .contact_cont {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  #contact_details {
    order: 1;
  }

  #contact_form {
    order: 2;
  }

  .contact_cont {
    padding: 60px;
  }
}
@media (min-width: 768px) {
  #contact_details {
    order: 2;
  }

  #contact_form {
    order: 1;
  }
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%;
  /* Set width to 100% */
  margin: auto;
  min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
.form-error {
  display: none;
}

#search-bar {
  padding-left: 8px;
}
#search-bar input {
  width: 350px;
}

@media (max-width: 991px) {
  #search-bar {
    padding-left: 0;
  }
}
.item-card {
  padding-bottom: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  background-color: #343a40;
}

.user-panel {
  padding: 15px;
}
.user-panel label, .user-panel a, .user-panel h5, .user-panel h6, .user-panel p {
  color: whitesmoke !important;
}
