.carousel {
  margin-bottom: 15px;
}

.d-block {
    margin: 0 auto;
    height: 500px;
}

.icons{
    width: 15%;
    height: 15%;
    max-width: 30px;
    max-height: 30px;
    min-width: 10px;
    min-height: 10px;
    margin-left: 10px;
}

.toggleBtns{
    color: white !important;
    padding:5px;
    background:#343a40;
    float:left;
    border-width: 2px;
    border-color: #949494;
    border-style: solid;
    text-align: center;
}

.toggleBtn-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right-width: 0px;
}


.toggleBtn-right{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left-width: 0px;
}

.toggleBtn-singular{
    border-radius: 8px;
}

.svg_shape{
    fill: white !important;   
}

.card_row{
    padding-bottom: 20px;
}

.seperate_from_top{
    margin-top: 50px;
}

.image_shading{
    height: 100%;
    background-color: #5050504d;
    text-align: center;
}

.contact_cont{
    padding:60px;
}

.active{
    background:#343a40cc !important;
}

//everything here is for the item sales form
#sale-form-wrapper{
    padding-top:50px;
    
    //everything contained within this is to do with the drag and drop file upload
    #dragDropUpload{
        padding:10px;
        border-width:3px;
        border-style:dashed;
        border-color:#ccc;
        border-radius:20px;
        
        .row{
            text-align:center;
            margin:auto;
        }
    }
}

#sellForm{
    display: flex;
    flex-direction: column;
    width:100%;
    
    input{
        
        margin:10px;
    }
}

#headText{
    height: fit-content;
    text-align: center;
    color: white;
    margin: 0 auto;
    align-self: center;
}

#headText .row{
    text-align:center;
}

#header{
    height: 500px;
    background-image: url("images/meeting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#view_type{
    align-self: center;
}

#filter{
     margin-left: 30px;
}

#search_head{
    padding:20px 10px 20px 10px;
}

#type{
    align-self: center;
}

span{
    align-self: center;
    text-align: right;
    height: fit-content;
}



@media (min-width: 992px) { 
    .contact_cont{
        padding:60px;
    }
}
@media (max-width: 992px) {
    
    .contact_cont{
        padding:20px;
    }
}

@media (max-width: 768px) { 
    
    #contact_details{
   
        order:1;
    }  
    #contact_form{
        order:2;
    }
    .contact_cont{
        padding:60px;
    }
}

@media (min-width: 768px) { 
    
#contact_details{
   
    order:2;
}   

#contact_form{
    order:1;
}
}


 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

